<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="">
    Name: <input name="name" value="<%= result.name %>"/><br/><br>
    Age: <input name="age" value="<%= result.age %>"/><br/><br>
    Email: <input name="email" value="<%= result.email %>"/><br/><br>
    <button>Update Student</button>
</body>
</html>